<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto" >
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12  main_header_right align-items-center">
                        <figure>
                            <img src="images/person.png" alt="thapa" class="img-fliud" title="thapa" style="height: 42rem;"/>
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12  main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_clr">Mern Stack Developer</span> Youtuber and Freelancer</h1>
                        <a href="https://www.thapatechnical.com/" target="_thapa"><button>About Me</button></a>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
   {{>footer}}
</body>
</html>